
html
{
    height: 100vh;
}
body
{
    font-family: 'Montserrat', sans-serif;
    background-color: #eeeeee;
    height:100%;
}

/*MENU NAVEGACION*/

.navbar
{
    padding:0 18%;
    margin-top:15px;
    width:100%;
    overflow:auto;
}
.nav-link
{
    color:#2d2d2d !important; 
    text-transform: uppercase;
    font-size: 18px;    
    padding:10px;
    width:60%;
    text-align: center;
    
}
.active
{
    color:black! important;
    font-weight: 500 !important; 
    text-decoration:underline !important; 
}
.nav-link:hover
{
    color:#bfa89e!important; 
    font-weight: 500; 
    text-decoration:underline;   
}
.nav-item
{
    width:260px;
}
/*CONTACTO*/


#contacto
    h1
    {
        font-size: 55px;
        font-weight:700;
    }
#contacto
    p
    {
        font-size: 28px;
        font-weight: bold;
        padding-top: 10px;
    }

/*FORMULARIO*/

#contacto
    .form-control
    {
   	    background-color: transparent;
    	border-radius:0%;
    	border-top:none;
    	border-left: none;
    	border-right: none;
    	border-bottom: solid 1px #2d2d2d;
     }
#contacto
.btnEnviar
{
    color:white;   
    border:none;
    border-radius: 0%;
    font-weight: 300;
    display: block;
    margin:15px auto;
    width: 120px;
    height: 60px;
}
#contacto
.btnEnviar:hover 
{
    background-color:white;
    color:black;
}
.link
{
    color:#2d2d2d;
    font-weight: bold;
    text-decoration: none;
}
.link:hover
{
    text-decoration: underline;
    font-weight: 500; 
    color:#bfa89e;
} 

/*FOOTER*/

footer
{
    background-color:white;
    width: 100%;
    margin-top: 20px;
    
}
.fab 
{
    color: black;
    font-size:50px;
    letter-spacing:30px;
}
.fab:hover
{
    color:#bfa89e;
}

/*PROYECTO*/

#proyectos
    h1
    {
        font-size: 55px;
        font-weight:700;
    }
#proyectos
    h2
    {
        font-size: 28px;
        font-weight:600px;
        
    }
#proyectos
    .img-fluid
    {
        width: 100%;
        height: 260px;
    }

/*SOBRE MI*/

#sobremi
    .img-circle
    {
        max-width: 150px;
        margin: 1em auto;
        display: block;
        -webkit-filter: grayscale(100%);
        filter:grayscale(100%);
        background-color: #fff;
        padding: 10px;
        box-shadow: inset 5px 5px 10px 0px rgba(209,209,209,0.63);
        border-radius: 50%;
    }
#sobremi
    .img-fluid
    {
        max-width: 100%;
        height: auto;
    }
   
#resumen
    h1
    {
        font-size: 55px;
        font-weight:700;
    }
#resumen
    h3
    {
        font-size: 25px;
        color:#2d2d2d;
        font-weight: 400;
    }
.grupoHabilidades
{
    padding-bottom: 30px;
}
#grupoHabilidades
.bg-white
{
    height: 350px;
    width: auto;
}
#grupoHabilidades
i
{
    padding: 20px;
    background:#2d2d2d;
}
#grupoHabilidades
.habilidadesIconos
{
    color:white;
    font-size: 90px;
}
#grupoHabilidades
h3
{
    color:#2d2d2d;
    font-size:28px;
}
#grupoHabilidades
p
{
    color:#616161;
    font-size: 18px;
}

#experiencia
{
    background-color: #2d2d2d;
    border-bottom: solid #616161 1px;
    padding-top: 30px;
}
#experiencia
    h2
    {
        color:white;
        font-size:28px;
        font-weight: bold;
    }
#experiencia
    h3
    {
        color:white;
        font-size:16px;
        font-weight: bold;
    }
#experiencia
    p
    {
        color:#616161;
        font-size: 16px;
    }

/*HOME*/

#index
    {
        background-image: url("../images/Fondos-01.png");
        background-repeat:repeat;
        background-size: 100%;
        min-height: 550px;
    }
#index
    h1,span
    {
        font-size: 90px;
        font-weight:700;
        color:#2d2d2d;
    }

#index
    h2
    {
        font-size:28px;
        text-transform:uppercase;
        font-weight:300;
        color:#2d2d2d;
    }
#index
    .btn
    {
        background-color:black;
        color:white;
        width: 200px;
        height: 40px;
        border:none;
        font-weight: 300;
        display: inline-block;
        font-size: 20px;
    }
#index
    .btn:hover
    {
        background-color:white;
        color:black;
    }

.btn
{
    background-color:black;
    color:white;
    width: 160px;
    height: 40px;
    border:none;
    font-weight: 300;
}
.btn:hover
{
    background-color:white;
    color:black;
}

/*CORREO*/

#correo
    {
        background-image: url("../images/Fondos-01.png");
        background-repeat:repeat;
        background-size: 100%;
        min-height: 550px;
        
    }
.correoBody
{
    margin-bottom: 130px;
}
#correo
    h1
    {
        font-size: 90px;
        font-weight:700;
        color:#2d2d2d;
    }

#correo
    h2
    {
        font-size:28px;
        text-transform:uppercase;
        font-weight:300;
        color:#2d2d2d;
    }

/*RESPONSIVO*/

@media (max-width:700px) /*siempre colocar los mediajquery de ultimo*/
{
    h1
    {
        font-size: 40px;
    }
    #contacto 
    h1
    {
        font-size: 48px;
        
    }
    #contacto
    p
    {
        font-size: 18px;
       
    }
    #index
    h1,span 
    {
        font-size:70px;
        font-weight:600;
    }
}